[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
django-environ = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
drf-nested-routers = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.11"
